@import url('https://fonts.googleapis.com/css2?family=Forum&family=Google+Sans+Flex:opsz,wght@6..144,1..1000&family=Share+Tech&display=swap');
@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body{
  background-color: #000000;
  color: #FFFFFF;
}


.arrow {
  animation: bounce 3s infinite ease-in-out;
  transform: translateY(0);
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}


.share-tech{
  font-family: "Share Tech", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.google-sans-flex {
  font-family: "Google Sans Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  /* font-style: normal; */
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "ROND" 0;
}

.forum-regular {
  font-family: "Forum", serif;
  font-weight: 100;
  /* font-style: normal; */
  font-style: italic;
}

/* MARQUEE ANIMATION */

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 80s linear infinite;
  gap: 4rem;
  font-weight: 900;
}

/* .marquee-wrapper {
  overflow: hidden;
  background: #e6371d;
  padding: 16px 0;
} */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}