@import "tailwindcss";


html {
  scroll-behavior: smooth;
}

body{
  background-color: #000000;
  color: #FFFFFF;
}


.arrow {
  animation: bounce 3s infinite ease-in-out;
  transform: translateY(0);
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}